body {
  background: #fafafa;
}
.btn i {
  margin-right: 6px;
}
.navbar {
  margin-bottom: 0 !important;
}
.navbar .brand span {
  font-size: 12px;
  margin-left: 10px;
}
.explore #map_wrapper {
  position: relative;
}
.explore #map_wrapper #message_wrapper {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 99;
}
.explore #map_wrapper #message_wrapper .alert {
  padding: 8px 14px;
}
.explore #map_wrapper #message_wrapper .alert a {
  margin-left: 10px;
  color: #c09853;
  font-size: 90%;
}
.explore #map_wrapper #map_controls {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  height: 100%;
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
  background: rgba(255,255,255,0.95);
  border-right: 1px solid #777;
  transition: all 0.6s ease-out 0s;
  -moz-transition: all 0.6s ease-out 0s;
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
}
.explore #map_wrapper #map_controls.minimized {
  left: -280px;
}
.explore #map_wrapper #map_controls #show_arrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 30px;
  padding: 3px 0 0 5px;
  position: absolute;
  right: -25px;
  background: #fff;
  background: rgba(255,255,255,0.95);
  border: 1px solid #777;
  border-left: none;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.explore #map_wrapper #map_controls #show_arrow span {
  opacity: 0.7;
}
.explore #map_wrapper #map_controls #show_arrow:hover span {
  opacity: 1;
}
.explore #map_wrapper #map_controls #add_form {
  display: none;
}
.explore #map_wrapper #map_controls .title {
  margin-top: 40px;
}
.explore #map_wrapper #map_controls .title > span {
  margin-right: 10px;
}
.explore #map_wrapper #map_controls ul,
.explore #map_wrapper #map_controls li {
  list-style: none;
}
.explore #map_wrapper #map_controls input[type="checkbox"] {
  display: inline-block;
  margin: 0 10px 0 0;
}
.explore #map_wrapper #map_controls label {
  display: inline-block;
}
.explore #map_wrapper #explore_map {
  width: 100%;
  min-height: 300px;
}
.show_spot .page-header h1 {
  display: inline-block;
}
.show_spot .page-header .categories,
.show_spot .page-header .sub-categories {
  display: inline-block;
  color: #666;
  margin-left: 10px;
  font-size: 20px;
}
.show_spot #spot_map {
  height: 260px;
}
