  

#map_wrapper
  #message_wrapper
    span.alert A place for messages
      a(href="#") Cancelar

  #map_controls
    a#show_arrow(href="#")
      span.icon-chevron-left

    .title 
      span.icon-road 
      span Explora
    ul
      li Todos
      li Skate
      li Longboard
      li Rutas Longboard
    
    .title
      span.icon-map-marker
      span Crea
    ul
      li Spot
      li Ruta
      li Shop
    
    
  #map
  
  
  

// Import mapbox files
!= javascript_include_tag('http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js')
!= stylesheet_link_tag("http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css")

// Import Leaflet
!= javascript_include_tag("http://cdn.leafletjs.com/leaflet-0.4/leaflet.js")
!= stylesheet_link_tag("http://cdn.leafletjs.com/leaflet-0.4/leaflet.css")


!= javascript_include_tag('map')

  
.hide

